.questions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}

.questions-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 2rem 10rem;
  gap: 3rem;
  width: 100%;
}

.questions-container__image {
   padding: 3rem 7rem;
   border: 3px solid var(--grey-3);
   border-radius: 0.8rem;
}

.questions-container__image img {
  border-radius: 8px;
}

.questions-container__title{
  font-size: var(--text-2xl);
}


.questions-container__options-box{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.questions-container__option{
  padding: 2rem;
  padding-left: 3rem;
  font-size: var(--text-xl);
  background: var(--grey-4);
  border: 3px solid var(--grey-2);
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}

.questions-container__checkbox{
  position: absolute;
  left: 1rem;
  top: 50%;
  font-size: var(--text-base);
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  border: 2px solid var(--grey-2);
  border-radius: 50%;
  background: var(--grey-5);
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .questions-container__option::after{
  content: '';
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  border: 2px solid var(--grey-2);
  border-radius: 50%;
  background: var(--grey-5);
  transition: all 0.3s ease;
} */

.questions-container__option:has(input:checked) {
  border-color: var(--violet-light);
  background: var(--grey-3);
}

.questions-container__option input:checked ~ .questions-container__checkbox{
  border-color: var(--violet-light);
  background: var(--violet-light);
  box-shadow: 0 0 10px rgba(151, 71, 255, 0.5);
}

.questions-container__option:hover {
  border-color: var(--violet-dark);
  transform: translateX(4px);
}

.questions-container__option input{
  appearance: none;
  cursor: pointer;
  border-radius: 8px;
  background: var(--gray-4);
}

.questions-container--hit{
  border: 4px solid var(--green-light);
  background: var(--grey-3);
  pointer-events: none;
}

.questions-container--hit .questions-container__checkbox{
  border-color: var(--green-light);
  background: var(--green-light);
  color: var(--green-dark);
  /* box-shadow: 0 0 10px rgb(171, 247, 112, 0.5); */
}


.questions-container--disabled{
  pointer-events: none;
}

.questions-container--wrong{
  border: 4px solid var(--red-light);
  background: var(--grey-3);
  pointer-events: none;
}

.questions-container--wrong .questions-container__checkbox{
  border-color: var(--red-light);
  background: var(--red-light);
  color: var(--red-dark);
  /* box-shadow: 0 0 10px rgb(247, 112, 112, 0.5); */
}
