.questions-container__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.questions-container__current-page {
    font-size: var(--text-3xl);
    color: var(--violet-light);
}

.questions-container__page {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.questions-container__btns-prev-next {
    background-color: var(--grey-3);
    padding: 0.2rem 1rem;
    color: var(--grey-2);
    border: none;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
}

.questions-container__btns-prev-next:hover {
    transition: 0.3s;
    background-color: var(--violet-light);
    color: var(--violet-dark);
}